# BASE_URL=http://localhost:4000
BASE_URL=http://localhost:4000
BASE_URL_API=http://localhost:4000/api

FRONTEND_BASE_URL=http://localhost:3000
MAPBOX_API_KEY="pk.eyJ1IjoicmVuZWVtMTIzIiwiYSI6ImNreTJkdjRqaDBrMDgydm9kbHhiNXdiMGYifQ.FC3Lrn2szWoMbpnmBC56yw"

TWILIO_APP_NAME="driverfly"

PHONE_INPUT_COUNTRY_ALLOWED=us,pk

RECAPTCHA_SECRET_KEY = "6LfCrrchAAAAACTltOZLP4BqZB9etSfkcgW1qiZ9"
RECAPTCHA_SITE_KEY = "6LfCrrchAAAAAFo-hEt9nFe-UeWQ2b3kbs14VjMs"