.link  {
    color: #000000;
}
 .link:hover {
    color: #2da2af;
    text-decoration: none;
}
.pricol{
    color: #2da2af;
    width: 50%;
    display: inline-block;
    text-align: right;
}
.pricol:hover  {
    color: #000000;
    text-decoration: none;
}

.loginform input{
  padding: 25px 10px;
}
.loginform a{
    color: #2da2af;
}
.loginform a:hover{
    color: #2da2af;
}
.submit{
    width: 100%;
    background:#2da2af;
    padding: 12px 30px;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}
.lineheader{
    text-align: center;
    width: 100%!important;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}.lineheader:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    left: 0;
    background: #e6e8ef;
}
.facebooklogin{
    background: #3b5998;
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 80px;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}
.facebooklogin a{
   color: #fff;
}
.facebooklogin a:hover{
    color: #4aa2af;
 }

.facebooklogin a:hover{
    text-decoration: none;
 }
 