@media (max-width:991px){
    .hire-driver-item {
        width: 100% !important;
    }
    .hire-driver-section{
        flex-direction: column !important;
    }
   .job_info_container .w-23 {
         width: 45% !important;
    }

}@media (max-width:767px){
   .job_info_container .w-23 {
         width: 100% !important;
   }
    .Slider-container-bg::before {
      display: none;
    }
    .Slider_box {
        width: 100%;
    }
}
@media (min-width:769px) and (max-width:990px){
    .Slider_owl-next,.Slider_owl-prev {
        top: 60%;
    }
}
@media (min-width:991px) and (max-width:1200px){
    .Slider_owl-next,.Slider_owl-prev {
        top: 60%;
    }
}