@media (max-width:991px){
    .hire-driver-item {
        width: 100% !important;
    }
    .hire-driver-section{
        flex-direction: column !important;
    }
    .w-23 {
         width: 45% !important;
    }

}@media (max-width:767px){
    .w-23 {
         width: 100% !important;
    }
}