.contentArea {
    background-color: #fff;
}

.bg_color {
    background-color: #f2f2f2;
}

.header nav {
    background: #f2f2f2 !important;
    color: rgb(0, 0, 0);
}

.dashboardsidebar .header {
    width: 100%;
    height: 850px;
    overflow-x: auto;
}


.dashboardsidebar a {
    color: #000;
}

.dashboardsidebar .page-link:hover {
    color: #000;
}

.dashboardsidebar aside {
    background-color: #1b4454;
    height: 854px;
}

.bg {
    background-color: #fff !important;
}


.sidebarArea ul {
    padding: 0;
    border: 0;
    width: 230px;

}

.dashboardsidebar li a {
    text-decoration: none;
    display: block;
    color: #5dcac4;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 500;
}

.dashboardsidebar li {
    padding: 16px 10px;


}

.dashboardsidebar .active {

    background-color: #fff !important;
    color: #000 !important;
}

.dashboardsidebar .active a {
    color: #4ca7a8;
}

.space {
    height: 100vh;
}
.spacer{
   
    margin-top: 20px;
    padding-bottom: 13px;
    margin-right: 0;

}

.profile button {
    padding: 5px 20px;
    color: #aaa !important;
    font-size: 15px;
    line-height: 35px;
    background: transparent;

}

.profile .btn-secondary {
    background: transparent;
    border: 0;
}


.profile button:hover,
.profile .dropdown-item:hover {
    background-color: transparent !important;
    text-decoration: underline;
    color: #000 !important;
}

.btn-check:focus+.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover {
    background-color: transparent !important;
}

.dashboardsidebar .btn-info {
    color: #fff;
    background-color: #1b4454;
    border-color: #1b4454;
}

.dashboardsidebar .btn-check:focus+.btn-info,
.dashboardsidebar .btn-info:focus,
.dashboardsidebar .btn-info:hover {
    color: #fff;
    background-color: #1b4454;
    border-color: #1b4454;
}


.profile span {
    color: #000;
    vertical-align: middle;
    margin-left: 10px;
}

.alerts {
    width: 15%;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

/* .nav-link:hover,
.nav-link:focus {
    background-color: rgb(255, 255, 255);
    color: #000 !important;
} */

.space_35 {
    padding: 35px;
}

.space_6 {
    padding: 6px;
}


/*Applicants scroll bar */
.applicants__section .scrollbar {
    margin-top: 30px;
    float: left;
    height: 400px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.applicants__section .force-overflow {
    min-height: 400;
}

.applicants__section .scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.applicants__section .scrollbar-primary::-webkit-scrollbar-thumb {
    background-color: #5eccc4;
}

.applicants__section {
    overflow-x: auto;
}


@media screen and (max-width: 992px) {

    .dashboardsidebar aside {
        background-color: #1b4454;
        height: auto;
    }

    .side_bar {
        height: auto !important;
    }


    .sidebarArea ul {
        width: 100%;
    }

    .applicants__section {
        overflow-x: auto;
    }
}

.select_pading {
    padding: 14px;
    outline: #ced4da;
    border: 1px solid #ced4da;
    background: white;
    border-radius: 5px;
}

.job_check_box {
    margin: 10px;
}

.job__select input {
    padding: 6px !important;
}

.select {
    padding: 6px !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: transparent !important;
}

.file_field {
    padding: 12px 20px !important;
}

.dashboard__mbl_menu span {
    width: 25px;
    height: 4px;
    display: block;
    background-color: #5fcbc4;
    margin-top: 3px;
    display: none;
}

@media screen and (max-width: 768px) {
    .logo_container {
        width: 35%;
    }
}

.side_bar {

    height: 853px;
    overflow-x: auto;
}


.side_bar .bg-light {
    background-color: transparent !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Driver Dashboard  */

.bg_yellow {
    background-color: #f5c018;
    border-radius: 5px;
    margin: 0% 1%;

}

.bg_green {

    background-color: #5cc8c4;
    border-radius: 5px;
    margin: 0% 1%;

}

.bg_blue {

    background-color: #1d4354;
    border-radius: 5px;
    margin: 0% 1%;

}

.myrtlegreen {

    background-color: #2A7869;
    border-radius: 5px;
    margin: 2% 1%;

}

.w-24 {

    width: 23%;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .w-24 {

        width: 100%;
        margin: 2% 1%;
    }
}

textarea {
    height: 200px !important;
}

.my_docs_section .btn_danger, 
.my_docs_section .hired,
.my_docs_section .approved,
.my_docs_section .applied {
    padding: 7px 23px !important;
    border-radius: 5px;
    color: #fff;
    margin-right: 3px;
}

.my_docs_section .btn_danger {
    background-color: #F44336 !important;
    vertical-align: top;
}

.my_docs_section .applied {
    background-color: #f4be18 !important;
    vertical-align: top;
}


.btn-approved, .my_docs_section .approved {
    background-color: #5dcac4 !important;
    vertical-align: top;

}

.my_docs_section .hired {
    background-color: #1b4454 !important;
}

.custom-file-input {
    color: transparent;
    width: 100px;
    cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Update';
    padding: 8px 23px;
    border-radius: 5px;
    color: #fff;
    margin-right: 3px;
    background-color: #5dcac4;
    display: block;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.modal-dialog {
    max-width: 1000px !important;
}

.modal-dialog button {
    color: #fff;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
}

.icon_left {
    float: left;
    color: #5dcac4;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

/* .application_select {
    padding: 12px;
} */

.mb-34 {
    margin-bottom: 34px;
}

.mt-34 {
    margin-top: 34px;
}

.ml_5 {
    margin-left: 5px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-85 {
    margin-top: 85px !important;
}

.mt-17 {
    margin-top: 17px !important;
}

.css-319lph-ValueContainer {
    padding: 7px;
}

.mt-48 {
    margin-top: 48px !important;
}

.mb-48 {
    margin-bottom: 48px !important;
}

.btn-yellow {
    background-color: #f4be18 !important;
    color: #fff;
}
.btn-approved, .my_docs_section .approved {
    background-color: #5dcac4 !important;
    color: #fff;

}


/* JobListing Table*/

.listing_head th{
padding: 15px;
}
 .table > :not(:first-child) {
     border-top: 0px solid currentColor !important;
}
  .table-striped>tbody>tr:nth-child(odd)>td,
  .table-striped>tbody>tr:nth-child(odd)>th {
    box-shadow: inset 0 0 0 0 var(--bs-table-accent-bg);
}
 .table-striped>tbody>tr:nth-child(even)>td,
 .table-striped>tbody>tr:nth-child(even)>th {
   background-color: #cdf3f2;
}