.contentArea {
    background-color: #fff;
}
.bg_color {
    background-color: #f2f2f2;
}


.logoicon{
    background:#f2f2f2 !important;
    height: 80px;
}

/* .logoicon img{ 
    top: -75px !important;
    height: 146px !important;
} */
.header nav{
    background:#f2f2f2 !important;
    color: rgb(0, 0, 0);
}
.dashboardsidebar  .header {
   width: 100%;
}


.dashboardsidebar a{
    color: #000;
}
.dashboardsidebar  .page-link:hover{
    color: #000;
}
.dashboardsidebar aside{
    background-color: #1b4454;
    height: 100vh;
}
.bg {
    background-color:#fff !important;
}
.dashboardsidebar li{
    padding: 0;
}
.space{
    height: 100vh;
}
.profile button{
    padding: 5px 20px;
    color: #aaa!important;
    font-size: 15px;
    line-height: 35px;
    background: transparent;

}
.profile .btn-secondary{
    background: transparent;
    border: 0;
}


.profile button:hover,.profile .dropdown-item:hover{
    color: #000 !important;
    text-decoration:underline;
}
.profile span{
    color: #000;
    vertical-align: middle;
    margin-left: 10px;
}
.alerts{
    width: 15%;
}
.nav-link{
    color: rgb(255, 255, 255) !important;
}
.nav-link:hover, .nav-link:focus{
    background-color: rgb(255, 255, 255);
    color: #000 !important;
}
.space_35{
    padding: 35px;
}
.space_6{
    padding: 6px;
}
@media screen and (max-width: 992px) {
    .dashboardsidebar aside{
        background-color: #1b4454;
        height: auto;
    }
  }