.joblisting .link .text_right{
    text-align: right;
}
.fields_show{
    text-align: right;
}

.fields_show a{
    color: #5dcac4;
    text-decoration: none;
    font-weight: 600;
}
 .jobtable{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 0px 0px !important;
}
.jobtable td{
    padding: 25px 15px;
}

.jobtable tbody {
    background-color: #e9fafa;
}
.jobtable .applied {
    background-color: #f4be18 ;
}
.jobtable .approved {
    background-color: #5dcac4 ;
}
.jobtable .hired {
    background-color: #1b4454 ;
}
.jobtable .bg_light,.jobtable .depolybtn, .jobtable .hired, .jobtable .approved,.jobtable .applied , .jobtable .repost{
    padding: 7px 23px;
    border-radius: 5px;
    color: #fff;
    margin-right: 3px;
}

.jobtable .tags {
    border: solid 1px  #1b4454;
    padding: 7px 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}
.jobtable .repost{
    background: #1b4454;
    margin-left: 10px;
}
.status__btn{
    background: #1b4454;
    margin-top: 20px;
    padding: 10px 30px ;
    color: #fff;
    border-radius: 5px;
}
.bg_light{
    background-color: #d8d8d8;
}
.depolybtn{
    background: #1b4454;
}
.display{
    display: flex;
}
.display .form-control  {
   width: 60% !important;
}
.tag{
    padding-top: 10px;
    margin-right: 10px;
}
.job__overview {
    margin-top: 30px;
 
}
.job__overview .job__overview__header{
    background-color: #f2f2f2;
    padding: 15px 20px;
}
.job__overview__body{
    background:#c3f4f2;
    padding: 10px;
}
.edit__btn{
    background-color: #5dcac4;
    padding: 5px 20px;
    border-radius: 5px;
    text-align: center;
}
.job__overview__detail{
    background-color: #e9fafa;
}
.status_job__body{
    padding: 20px;
}
